[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flake8 = "*"
flask-migrate = "*"
autopep8 = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
